@model Facebook.Models.ViewModels.HomePageDto
@{
    ViewData["Title"] = "Home Page";
}

@*Left Side (Info & Footer)*@
<div class="col-lg-3 col-md-4 pd-left-none no-pd">
    <div class="main-left-sidebar no-margin">
        <div class="user-data full-width">
            <div class="user-profile">
                <div class="username-dt">
                    <div class="usr-pic">
                        <img src="~/ProfilePics/@Model.ProfilePicUrl" alt="">
                    </div>
                </div><!--username-dt end-->
                <div class="user-specs">
                    <h3>@Model.FullName</h3>
                    <span>Graphic Designer at Self Employed</span>
                </div>
            </div><!--user-profile end-->
            <ul class="user-fw-status">
                <li>
                    <h4>Friends</h4>
                    <span>@Model.NumberOfFriends</span>
                </li>
                <li>
                    <a href="Profile/" title="">View Profile</a>
                </li>
            </ul>
        </div><!--user-data end-->
        <div class="tags-sec full-width">
            <ul>

                <li><a href="#" title="">About</a></li>
                <li><a href="#" title="">Language</a></li>
                <li><a href="#" title="">Copyright Policy</a></li>
            </ul>
            <div class="cp-sec">
                <img src="~/images/facebook-logo-word.png" alt="fblogo" />
                <p>&copy; Copyright 2020</p>
            </div>
        </div><!--tags-sec end-->
    </div><!--main-left-sidebar end-->
</div>


@*Middle Side (Post creation & Showing All Posts)*@
<div class="col-lg-6 col-md-8 no-pd">
    <div class="main-ws-sec">
        @*@await Html.PartialAsync("CreatePost.cshtml")*@
        <div class='posts-section' id="posts">
            @foreach (var post in Model.HomePostDto)
            {

                <div class="posty">
                    <div class="post-bar no-margin">
                        <div class="post_topbar">
                            <div class="usy-dt">
                                <img class="friendListPic" src="~/ProfilePics/@post.ProfilePic" alt="">
                                <div class="usy-name">
                                    <h3>@post.FullName</h3>
                                    <span><img src="images/clock.png" alt="">@post.PostDate</span>
                                </div>
                            </div>
                            <div class="ed-opts">
                                <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                <ul class="ed-options">
                                    <li><a href="#" title="">Edit Post</a></li>
                                    <li><a href="#" title="">Delete Post</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="job_descp">
                            <p>@post.PostContent</p>
                            <img style="margin-left:30%" src="~/PostPics/@post.PostPicUrl" />
                        </div>
                        <div class="job-status-bar">
                            <ul class="like-com">
                                <li>
                                    <a><i class="la la-heart"></i><button style="color:#076bec; border:none; background-color:white;" type="button" data-toggle="modal" data-target="#exampleModal_@post.PostId">Like</button></a>
                                    <img src="images/liked-img.png" alt="">
                                    <span style="margin-left:1px">@post.HomeLikeDto.Count()</span>
                                </li>
                                <li><a title="" class="com"><img src="images/com.png" alt=""> Comment @post.HomeCommentDto.Count()</a></li>
                            </ul>
                        </div>
                    </div><!--post-bar end-->
                    <div class="comment-section">
                        <div class="comment-sec">
                            <ul>
                                @foreach (var comment in post.HomeCommentDto)
                                {
                                    <li>
                                        <div class="comment-list">
                                            <div class="bg-img">
                                                <img class="friendListPic" src="~/ProfilePics/@comment.ProfilePicUrl" alt="">
                                            </div>
                                            <div class="comment">
                                                <h3>@comment.FullName</h3>
                                                <span><img src="images/clock.png" alt="">@comment.CommentDate</span>
                                                <p>@comment.CommentContent</p>
                                            </div>
                                        </div><!--comment-list end-->
                                    </li>
                                }
                            </ul>
                        </div><!--comment-sec end-->
                        <div class="post-comment">
                            <div class="comment_box">
                                <form>
                                    <input type="text" placeholder="Post a comment">
                                    <button type="submit">Send</button>
                                </form>
                            </div>
                        </div><!--post-comment end-->
                    </div><!--comment-section end-->
                </div>

                <!-- Likes Model -->
                <div class="modal fade" id="exampleModal_@post.PostId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Likes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                @if (post.HomeLikeDto.Count() != 0)
                                {
                                    @foreach (var like in post.HomeLikeDto)
                                    {
                                        <div class="comment-list">
                                            <div class="bg-img">
                                                <img class="friendListPic" src="~/ProfilePics/@like.ProfilePicUrl" alt="">
                                            </div>
                                            <div class="comment">
                                                <h3>@like.FullName</h3>
                                                <span><img src="images/clock.png" alt="">@like.LikeDate</span>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="comment-list">
                                        There is no reactions for this post yet .
                                    </div>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*Right Side (Welcome Panel & Friends List)*@
<div class="col-lg-3 pd-right-none no-pd">
    <div class="right-sidebar">
        <div class="widget widget-about">
            @*<img src="~/images/facebook-logo-big.png" alt="">*@
            <img src="https://img.icons8.com/clouds/100/000000/facebook-f.png" />
            <!-- <img src="images/wd-logo.png" alt=""> -->
            <h3>Stay connected on Facebook!</h3>
            <span style="font-weight:bold">Welcome, @Model.FullName !</span>
        </div><!--widget-about end-->
        <div class="widget suggestions full-width">
            <div class="sd-title">
                <h3>Friends List</h3>
                <!-- <i class="la la-ellipsis-v"></i> -->
            </div><!--sd-title end-->
            <div class="suggestions-list">
                @foreach (var user in Model.HomeUserDtos)
                {
                    <div class="suggestion-usd">
                        <img class="friendListPic" src="~/ProfilePics/@user.ProfilePicUrl" alt="">
                        <div class="sgt-text">
                            <h4>@user.FullName</h4>
                            <span>Graphic Designer</span>
                        </div>
                    </div>
                }
                <div class="view-more">
                    <a href="#" title="">View More</a>
                </div>
            </div><!--suggestions-list end-->
        </div>
    </div><!--right-sidebar end-->
</div>




@section scripts {
    <script src="~/js/createPost.js"></script>
    @*<script type="text/javascript" src="~/js/getAllPosts.js"></script>*@
    <script src="~/js/UploadImage.js"></script>
}
